http_proxy = "http://nl-userproxy-access.net.abnamro.com:8080" 
https_proxy = "http://nl-userproxy-access.net.abnamro.com:8080" 
no_proxy = "p-nexus-3.development.nl.eu.abnamro.com"
registry = "https://p-nexus-3.development.nl.eu.abnamro.com:8443/repository/fed-npm-all/"